@page "/PrivateCustomer/{Id:int}"
@inject IPrivateCustomerService PrivateCustomerService
@inject IAddressService AddresService
@inject NavigationManager Navi
@using DanBase.Shared.CustomerModels.Command


<h3>Personlige indstillinger</h3>

@if (Loading == true)
{
    <i class="fa fa-circle-o-notch fa-spin myicons" aria-hidden="true"></i>
}

@if (Customer != null)
{
    <h3>@Customer.firstName @Customer.lastName</h3>
    <div class="form-group">
        <label>Company Id</label>
        <input class="form-control" type="text" id="CompanyId" @bind="@Customer.companyId" @onblur="Update" />
        <label>First name</label>
        <input class="form-control" type="text" id="FirstName" @bind="@Customer.firstName" @onblur="Update" />
        <label>Last name</label>
        <input class="form-control" type="text" id="LastName" @bind="@Customer.lastName" @onblur="Update" />
        <label>CPR</label>
        <input class="form-control" type="text" id="CPR" @bind="Customer.cpr" @onblur="Update" />
        <label>User name</label>
        <input class="form-control" type="text" id="UserName" @bind="Customer.username" @onblur="Update" />
        <label>Password</label>
        <input class="form-control" type="password" id="Password" @bind="Customer.password" @onblur="Update" />
        <label>Text</label>
        <input class="form-control" type="text" id="Text" @bind="Customer.text" @onblur="Update" />
        <label>Account</label>
        <input class="form-control" type="text" id="Account" @bind="Customer.accountNo" @onblur="Update" />
        @foreach (var address in GetFilteredList())
        {
            <label>Street</label>
            <input class="form-control" type="text" id="Account" @bind="address.Street" @onblur="UpdateAddress" />
            <label>Zip</label>
            <input class="form-control" type="text" id="Account" @bind="address.Zip" @onblur="UpdateAddress"/>
            <label>City</label>
            <input class="form-control" type="text" id="Account" @bind="address.City" @onblur="UpdateAddress"/>
            <label>Country</label>
            <input class="form-control" type="text" id="Account" @bind="address.Country" @onblur="UpdateAddress"/>
        }
        <button @onclick="Delete">Delete</button>
    </div>
}

@code {
    private bool Loading;

    [Parameter]
    public int Id { get; set; }

    private Models.PrivateCustomer.PrivateCustomerDetails Customer;
    private List<Models.Address> Addresses;
    private List<Models.Address> FilterAddress = new List<Models.Address>();

    protected override async Task OnInitializedAsync()
    {
        Loading = true;
        Addresses = await AddresService.GetAll();
        Loading = false;
    }

    protected override async Task OnParametersSetAsync()
    {
        Loading = true;

        Customer = await PrivateCustomerService.GetById(Id);

        Loading = false;
    }

    private void Update()
    {
        PrivateCustomerService.Update(Customer);

    }

    private void Delete()
    {
        PrivateCustomerService.Delete(Id);
        Navi.NavigateTo("PrivateCustomer");
    }

    public List<Models.Address> GetFilteredList()
    {
        FilterAddress = Addresses.Where(x => x != null
          && x.CustomerId == Id).ToList();

        return FilterAddress;
    }

    private void UpdateAddress()
    {
        foreach (var Address in GetFilteredList())
        {
            AddresService.Update(Address);
        }
    }

    private void DeleteAddress()
    {
        foreach (var Address in GetFilteredList())
        {
            AddresService.Delete(Address.Id);
        }
    }
}
